gitlab:
  image: virtuasa/gitci314-gitlab:latest
  cpu_shares: 1024
  mem_limit: 512m
  memswap_limit: 4g
  privileged: true
  restart: always
  environment:
    GITLAB_OMNIBUS_CONFIG: |
      # Add gitlab.rb configuration here, each on its own line
      # See: https://docs.gitlab.com/omnibus/settings/configuration.html
  ports:
    - '22:22'
    - '80:80'
    - '443:443'
  volumes: 
    - ./srv/gitlab/config:/etc/gitlab
    - ./srv/gitlab/data:/var/opt/gitlab
    - ./srv/gitlab/logs:/var/log/gitlab

runner:
  image: virtuasa/gitci314-runner:latest
  cpu_shares: 256
  mem_limit: 128m
  memswap_limit: 512m
  privileged: true
  restart: always
  links:
    - gitlab
  volumes: 
    - ./srv/gitlab-runner:/home/gitlab-runner
    - /var/run/docker.sock:/var/run/docker.sock