gitlab:
  image: virtuasa/gitci314-gitlab:latest
  port:
    - '22:22'
    - '80:80'
    - '443:443'
  volumes: 
    - ./srv/gitlab/config:/etc/gitlab
    - ./srv/gitlab/data:/var/opt/gitlab
    - ./srv/gitlab/logs:/var/log/gitlab
    - ./srv/gitlab/swap:/var/swap