gitlab:
  build: ./gitlab
  cpu_shares: 1024
  mem_limit: 512M
  memswap_limit: 3584M
  ports:
    - '22:22'
    - '80:80'
    - '443:443'
  volumes: 
    - ../srv/gitlab/config:/etc/gitlab
    - ../srv/gitlab/data:/var/opt/gitlab
    - ../srv/gitlab/logs:/var/log/gitlab