gitlab:
  build: ./gitlab
  cpu_shares: 1024
  mem_limit: 512m
  memswap_limit: 4g
  privileged: true
  environment:
    GITLAB_OMNIBUS_CONFIG: |
      # Add gitlab.rb configuration here, each on its own line
      # See: https://docs.gitlab.com/omnibus/settings/configuration.html
  ports:
    - '22:22'
    - '80:80'
    - '443:443'
  volumes: 
    - ../srv/gitlab/config:/etc/gitlab
    - ../srv/gitlab/data:/var/opt/gitlab
    - ../srv/gitlab/logs:/var/log/gitlab

runner:
  build: ./gitlab-runner
  cpu_shares: 256
  mem_limit: 128m
  memswap_limit: 512m
  privileged: true
  links:
    - gitlab
  volumes: 
    - ../srv/runner/config:/etc/gitlab-runner
    - ../srv/runner/data:/home/gitlab-runner
    - /var/run/docker.sock:/var/run/docker.sock